# Dependencies
node_modules/

# Next.js
.next/
out/

# Aptos
.aptos/
contract/build/

# Supabase
supabase/.temp/
supabase/.branches/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Debug
npm-debug.log*
